* {
  /* font-family: Jetbrains Mono; */
  font-family: Iosevka;
  font-size: 15px;
  min-height: 0;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
}

#waybar {
  background: rgba(0,0,0,0.8);
  color: white;
  margin: 0;
}

#workspaces {
  margin: 0px;
}

#workspaces button {
  color: #babbf1;
  border-radius: 5px;
  padding: 0.4rem;
}

#workspaces button.active {
  color: cyan;
  border-radius: 5px;
}

button {
  background: transparent;
}

#tray,
#bluetooth,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#temperature,
#memory {
  padding: 0 1rem;
  color: #B388EB;
}
